@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///home/pascal/AndroidStudioProjects/supplx/other/website/fonts/Rubik/900italic.ttf') format('truetype');
}
